<%- include ('../partials/boilerPlate.ejs', {cssFiles: 'base.css'}) %> 

<%- include ('../partials/style-pages.ejs') %> 

<%- include ('../partials/header.ejs') %> 

<a href="/"><h2><%= infos.back %></h2></a>

<%- include ('../partials/footer.ejs') %> 